<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="container">
          <div class="row">
          <button class="col btn btn-outline-primary" 
                  routerLink="/home" 
                  routerLinkActive="active"
                  appButtonHover>Home</button>
          <button class="col btn btn-outline-secondary"  
                  routerLink="/calendar" 
                  routerLinkActive="active"
                  appButtonHover>Calendar</button>
          <button class="col btn btn-outline-info"  
                  routerLink="/gallery" 
                  routerLinkActive="active"
                  appButtonHover>Gallery</button>
                  <button class="col btn btn-outline-success" 
                       (click)="goToNewUser()"
                       routerLinkActive="active"
                       appButtonHover
                       *ngIf="currentUser?.admin">Add Client</button>
                   <button class="col btn btn-outline-warning" 
                       routerLink="/users" 
                       routerLinkActive="active"
                       appButtonHover
                       *ngIf="currentUser?.admin">All Clients</button>
          <button class="col btn btn-outline-success" 
                (click)="goToLogin()"
                routerLinkActive="active"
                appButtonHover
                *ngIf="!currentUser">Login</button>
                <button class="col btn btn-outline-danger" 
                      type="button"
                      *ngIf="currentUser"
                      appButtonHover
                      (click)="logout()"><span class="user-name">Hi, {{currentUser.firstName | capitalizeFirstLetter}}</span> log out</button>
                </div>
                
                
         
        </div>
        
      
    </div>
  </div>
</nav>
