<message></message>
<div class="container">
    <button type="button" 
            class="btn btn-danger close-modal-button"
            (click)="activeModal.close('Close click')">X</button>
    <div class="row justify-content-center">
         <form [formGroup]="userForm">

        <h4 class="pb-2 form-title text-center"><span class="label">Login</span></h4>       
  
        <!-- Email Address -->
          <div class="form-group">
           <label class="label" for="emailInput">Email address</label>
           <span class="validation-alert alert-text label"  *ngIf="email.dirty ||email.touched">
               <div *ngIf="email.errors?.required">
                  is required
               </div>
               <div *ngIf="email.errors?.valid">
                  is not valid
               </div>             
          </span>

          <input [formControl]="email"
                 type="email" 
                 class="form-control" 
                 placeholder="Enter email"   
                 id="emailInput"              
                 #emailInput>
      </div>
      <!--End Email Address -->

               <!-- Password -->
               <div class="form-group">                                  
                  <label class="label" for="passwordInput">Password</label>                                   
                    <span class="validation-alert alert-text"  *ngIf="password.dirty ||password.touched">
                      <div *ngIf="password.errors?.required">is required</div>
                      <div *ngIf="password.errors?.minlength">must be greater than {{password.errors.minlength.requiredLenght}} </div>
                      <div *ngIf="password.errors?.maxlength">must be less than {{password.errors.maxlength.requiredLenght}}</div>                       
                    </span>

               <input [formControl]="password" 
                      type="password" 
                      class="form-control" 
                      placeholder="Password"
                      id="passwordInput" 
                      ngbAutofocus         
                      ngModel        
                      #passwordInput>
             </div>
              <!--End Password -->
       <button type="submit" 
               class="btn btn-primary btn-block form-button"
              appButtonHover
               (click)="login()"
               [disabled]="userForm.invalid">Login</button>
         
        </form>
  
    </div>  
  </div>
  