<message></message>
<div class="container">
    <button type="button" 
            class="btn btn-danger close-modal-button"
            (click)="activeModal.close('Close click')">X</button>
    <div class="row justify-content-center">
         <form [formGroup]="userForm">

          <h4 class="pb-2 form-title label text-center">Login</h4>       
  
        <!-- Email Address -->
          <div class="form-group">
           <label class="label" for="emailInput">Email address</label>
           <span class="validation-alert alert-text label" *ngIf="email.errors?.required">
                is required
          </span>
          <span class="validation-alert alert-text label" *ngIf="email.errors?.valid">
                is not valid
            </span>
          <input [formControl]="email"
                 type="email" 
                 class="form-control" 
                 placeholder="Enter email"   
                 id="emailInput"              
                 #emailInput>
      </div>
      <!--End Email Address -->

               <!-- Password -->
               <div class="form-group">                                  
                  <label for="passwordInput">Password</label>                                   
                    <span class="validation-alert alert-text" *ngIf="password.errors?.required">
                  is required
               </span>
               <span class="validation-alert alert-text" *ngIf="password.errors?.minlength">
                    must be greater than {{passwordMinLength-1}} 
               </span>
               <span class="validation-alert alert-text" *ngIf="password.errors?.maxlength">
                    must be less than {{passwordMaxLength-1}}
               </span>                                                    
             
               <input [formControl]="password" 
                      type="password" 
                      class="form-control" 
                      placeholder="Password"
                      id="passwordInput" 
                      ngbAutofocus                 
                      #passwordInput>
             </div>
              <!--End Password -->
       <button type="submit" 
               class="btn btn-primary btn-block form-button"
              appButtonHover
               (click)="login()"
               [disabled]="userForm.invalid">Login</button>
         
        </form>
  
    </div>  
  </div>
  