h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  .events-panel-labels{
    font-family: Kristen ITC;
    font-weight: bold;
    font-style: italic;
  }
  .serial-number{
    width: 2%;
  }
  .client-name{
     width: 30%;
     font-family: Roman;
     font-style: italic;
     font-size: 1.5rem;
  }
  .service-name{
    width: 28%;
    font-family: Roman;
    font-style: italic;
    font-size: 1.5rem;
  }
  .event-color{
    width: 10%;
  }
  .date-picker{
    width: 20% ;
  }

  .delete-button{
    width: 10%;
  }
  .service-name-text{
    display: inline-block !important;
  }