<div class="container jumbotron">
  <h1 class="display-4 page-title">All Clients</h1>
  <ul class="list-group mt-3">
    <li class="list-group-item users-labels-panel">
        <div class="row" >
            <div class="col">
              <p>First Name</p>
            </div>
            <div class="col">
              <p>
                Last Name
              </p>
            </div>
            <div class="col">
              <p>
                 Email
              </p>
            </div>
            <div class="col">
              <p>
                 Admin
              </p>
            </div>
            <div class="col">
                <p>
                  Phone
                </p>
            </div>
          </div>
    </li>
    <li class="list-group-item user-data-row" 
        *ngFor="let user of users" 
        dropdownMenuItemHover
        appHover
        (click)="onSelectClient(user)">
      <div class="row" >
        <div class="col name-col align-middle">
            {{user.firstName | capitalizeFirstLetter}}
        </div>
        <div class="col name-col align-middle">
            {{user.lastName | capitalizeFirstLetter}}
        </div>
        <div class="col align-middle">
             {{user.email}}
        </div>
        <div class="col align-middle">
             {{user.admin}}
        </div>
        <div class="col align-middle">
              {{user.phone}}

        </div>
      </div>
    </li>
  </ul>
</div>
