<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-4 jumbotron">
         <form [formGroup]="userForm">
          <h4 class="pb-2">Sigh in</h4>
          <!-- First Name -->
          <div class="form-group">
            <label for="firstNameInput">First Name</label>
            
            <span class="validation-alert alert-text" *ngIf="firstName.errors?.required">
                is required
            </span>
            <span class="validation-alert alert-text" *ngIf="firstName.errors?.minlength">
                must be greater than {{nameMinLength-1}}
            </span>
            <span class="validation-alert alert-text" *ngIf="firstName.errors?.maxlength">
               must be less than {{nameMaxLength-1}}
            </span>
              <input [formControl]="firstName"
                     type="text" 
                     class="form-control" 
                     placeholder="Enter first name"
                     id="firstNameInput"
                     #firstNameInput>
          </div>
          <!--End First Name -->
          
          <!-- Last Name -->
          <div class="form-group">
              <label for="lastNameInput">Last Name</label>

              <span class="validation-alert alert-text" *ngIf="lastName.errors?.required">
                is required
              </span>
              <span class="validation-alert alert-text" *ngIf="lastName.errors?.minlength">
                must be greater than {{nameMinLength-1}}
              </span>
              <span class="validation-alert alert-text" *ngIf="lastName.errors?.maxlength">
                must be less than {{nameMaxLength-1}}
              </span>
              <input [formControl]="lastName"
                     type="text" 
                     class="form-control" 
                     placeholder="Enter last name"  
                     id="lastNameInput"               
                     #lastNameInput>
          </div>
          <!--End Last Name -->

          <!-- Phone Number -->
          <div class="form-group">
            <label for="phoneInput">Phone Number</label>
            <span class="validation-alert alert-text" *ngIf="phone.errors?.required">
                is required
            </span>
            <span class="validation-alert process alert-text" *ngIf="phone.status==='PENDING'">
                Checking...
            </span>
            <span class="validation-alert alert-text" *ngIf="phone.errors?.phoneExist">
                Phone number already exists
            </span>
            <span class="validation-alert alert-text" *ngIf="phone.errors?.minlength">
                must be greater than {{phoneMinLength-1}}
            </span>
            <span class="validation-alert alert-text" *ngIf="phone.errors?.maxlength">
                must be less than {{phoneMaxLength-1}}
            </span>
            <input [formControl]="phone"
                   type="number" 
                   class="form-control" 
                   placeholder="Enter phone number"       
                   id="phoneInput"         
                   #phoneInput>
        </div>
        <!--End Phone Number -->

        <!-- Email Address -->
          <div class="form-group">
           <label for="emailInput">Email address</label>
           <span class="validation-alert alert-text" *ngIf="email.errors?.required">
                is required
          </span>
          <span class="validation-alert alert-text" *ngIf="email.errors?.valid">
                is not valid
            </span>
          <input [formControl]="email"
                 type="text" 
                 class="form-control" 
                 placeholder="Enter email"   
                 id="emailInput"              
                 #emailInput>
      </div>
      <!--End Email Address -->

          <!-- Password -->
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <span class="validation-alert alert-text" *ngIf="password.errors?.required">
               is required
            </span>
            <span class="validation-alert alert-text" *ngIf="password.errors?.minlength">
               must be greater than {{passwordMinValue-1}}
            </span>
            <span class="validation-alert alert-text" *ngIf="password.errors?.maxlength">
                must be less than {{passwordMaxValue-1}}
            </span> 
            <input [formControl]="password" 
                   type="password" 
                   class="form-control" 
                   placeholder="Password"
                   id="passwordInput"                  
                   #passwordInput>
          </div>
           <!--End Password -->

          <div class="row">
            <div class="col">
               <button type="button" 
                       class="btn btn-primary btn-block"
                       (click)="registration()">Registration</button>
            </div>
          </div>
          
        </form>
      </div>
    </div>  
</div>
