<div class="container modal-container">
    <button type="button" 
    class="btn btn-danger close-modal-button"
    (click)="activeModal.close('Close click')">X</button>
  <h4 class="pb-2 form-title text-center">
    <span class="label">
      Please select client
    </span>
  </h4>

      <div class="btn-group-vertical container-fluid">
    <button *ngFor="let client of clients"
            type="button" 
            class="btn btn-outline-info btn-lg btn-block select-button"
            (click)="onSelectClient(client)"
            data-toggle="button"><h2>
              <span>{{client.firstName | capitalizeFirstLetter}}</span>
              <span class="ml-2" *ngIf="client.lastName">{{client.lastName | capitalizeFirstLetter}}</span>
            </h2>
            </button>
  </div>

  <div class="btn-group container-fluid mt-3" role="group" aria-label="Basic example">
      <button type="button" 
            class="btn btn-outline-success col btn-lg" 
          (click)="newClient()">New Client</button>
          <button type="button" 
          class="btn btn-outline-danger col btn-lg" 
         (click)="activeModal.close('Close click')">Close</button>
  </div>
 
</div>
