.modal-container{
    padding: 10px;
}
.btn{
    padding: 0 !important;
    font-size: 30px !important;
}
.select-button{
    font-family: Harrington;
    font-style: italic;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}
.close-modal-button{
    width: 45px !important;
    position: absolute;
    top: 0;
    right: 0;
}